.button {
  height:100px;
  background-color: #9E9E9E;
  margin-top:20px;
  margin-right:0px;
  padding:10px;
  position:relative;
  width: auto;
}

.button:active {
  background-color: #424242;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}
